.row{
      margin-top:40px;
      padding: 0 10px;
  }
  .clickable{
      cursor: pointer;
  }

  .panel-heading div {
    margin-top: auto;
    font-size: 30px;
  }
  .panel-heading div span{
    margin-left:auto;
  }
  .panel-body{
    display: none;
  }
  table {
    width :100%;
  border-spacing: 20px;
}
#heading
{
  margin :auto;
}
#tablee
{
  margin:60px;
  margin-top: 80px;
}
body,html{
  background-image: url("3.jpg");
  background-size: cover;
}
